<%= render "shared/mobile-navbar"%>

<div class="containe">

  <div class="sidebar">
    <%= render "shared/sidebar"%>
  </div>

  <div class="container-flui home-background" >
    <div class="banner" >
      <div class="banner-content">
        <h1>Bienvenue au cabinet de Pédicure - Podologie </h1>
        <h2>Adeline Guillaume</h2>
        <a class="btn-medium" href="#podologie">Continuer </a>
      </div>
    </div>

    <div class="general-wrapper" id="adeline">
      <div class="general-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="parcours text-left">
              <h3>Mon Parcours, mes qualifications</h3>
              <p>Je suis Adeline Guillaume, Podologue formée Paris à l'Institut National de Podolgie. A l'obtention de mon diplôme de pédicure-podologie en 2011, j'ai décidé parcourir la France afin de me perfectionner aupres de plusieurs podologues expérimentés. </p>
              <p>J'ai ainsi réalisé plusieurs remplacements de longue durée en Aquitaine, en Normandie, en Alsace et enfin dans les hautes alpes</p>
              <p>A la suite d'une colaboration de deux ans avec Mme Mignonat aux Mées, j'exerce dans mon cabinet de Pédicure - Podologie ici à Sisteron</p>


            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="first-image side-image">
              <%= cl_image_tag "pedicurie_tvpuo7.jpg", width: 250, height: 150, crop: :fill %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="text-left">
              <p>En créant mon cabinet j'ai voulu proposer un soin professionnel avec une pratique maitrisée et moderne de la podologie.
                <br>
              C'est pourquoi je continue de me former chaque année. J'ai pu ainsi me spécilisée : </p>
              <li>DU DIABETO</li>
              <li>DU SPORT</li>
              <li>MEMBRE DE</li>
              <li>Posturologie</li>
              <li>etc</li>
              <li>etc</li>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="side-image">
              <div class='container-fluid'>
                <div id="my-carousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#my-carousel" data-slide-to="1"></li>
                    <li data-target="#my-carousel" data-slide-to="2"></li>
                    <li data-target="#my-carousel" data-slide-to="3"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <%= cl_image_tag("running-shoe-shoe-brooks-highly-functional-54334_mbqbaf", width: 250, height: 150, crop: :fill) %>
                      <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                      <%= cl_image_tag("shoes-leather-single-fashion_wi93xu", width: 250, height: 150, crop: :fill) %>
                      <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                      <%= cl_image_tag("pexels-photo-221207_hbuwx7", width: 250, height: 150, crop: :fill) %>
                      <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                      <%= cl_image_tag("women-s-shoes-red-pin-fashion-66856_zp9l67", width: 250, height: 150, crop: :fill) %>
                      <div class="carousel-caption"></div>
                    </div>
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                  </a>
                  <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="parcours text-right">
              <p>J'ai aussi voulu m'équipé de métériel performant et récent les soins et la confection de semelles </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="parcours text-center">
              <h4>Je serais ravie de vous accueillir dans mon cabinet</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="parcours text-right">
              <h3>Adeline Guillaume</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="btn-bas">
              <a class="btn-medium" href="#ou"> Où trouver le cabinet
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="general-wrapper" id="ou">
      <div class="general-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="first-text text-left parcours">
              <h3>Comment venir au cabinet de Mme Guillaume ?</h3>
              <div class="card" >
                <div class="card-category">Coordonées</div>
                <div class="card-description">
                  <h3>Adresse</h3>
                  <p>Les Grands Clots</p>
                  <p>Batiment A</p>
                  <p>24 avenue de la Libération</p>
                  <p>04200 Sisteton</p>
                  <h4>Telephone</h4>04 84 19 19 19
                  <h4>email:</h4>
                </div>
                <div class="card-user">
                  <img class="card-user" src="http://res.cloudinary.com/dgbt9zicg/image/upload/c_crop,w_712,x_150,y_50/v1507234342/IMG_2822_czvh24.jpg">
                </div>
              </div>

            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="first-image side-image">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2860.7868130057527!2d5.9425205507297525!3d44.19085897900399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cba6f45c3bbabd%3A0x4d351ca22347179f!2s24+Avenue+de+la+Lib%C3%A9ration%2C+04200+Sisteron!5e0!3m2!1sfr!2sfr!4v1507224866759" width="350" height="400" frameborder="15" style="border:1" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="btn-bas">
              <a class="btn-medium" href="../pages/rdv">Prendre rendez-vous </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

