<%= render "shared/mobile-navbar"%>

<div class="containe">

  <div class="sidebar">
    <%= render "shared/sidebar"%>
  </div>

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="pédicurie">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-6 ">
          <div class="general-content">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="parcours text-left style1">
                  <h3>La pédicurie</h3>
                  <p>Vous cherchez un pédicure à Sisteron  ? Mme Guillaume est podologue-pédicure à Sisteron. Dans ce cadre, elle traite vos problèmes de pédicurie dans son cabinet médical situé dans le 16ème arrondissement de Sisteron .</p>

                  <p>Les soins de pédicurie sont des actes paramédicaux de soins des pieds qui traitent des problèmes touchant à la peau ou aux ongles du pied. Les soins de pédicurie ne sont pas des soins de beauté ; il s’agit avant tout de soins paramédicaux. L’objectif des soins de pédicurie est de soulager la douleur et les symptômes de pathologies du pied.</p>

                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="first-image side-image">
                  <%= cl_image_tag "pexels-photo-356053_wxols2.jpg", :border=>"2px_solid_rgb:9DB4C0", width: 250, height: 150, crop: :fill %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="text-left style1">
                  <p>Les soins de pédicurie pratiqués à Sisteron  dans le cabinet de Mme Guillaume peuvent concerner différentes zones du pied :
                    <li>la coupe des ongles</li>
                    <li>le désépaississement des ongles par fraisage</li>
                    <li>l’ablation des cors et de durillons</li>
                    <li>le traitement et la prévention des ongles incarnés</li>
                    <li>l’exérèse de l’hyperkeratose : traitement de la corne, des cales et crevasses</li>
                    <li>le traitement des mycoses</li>
                    <li>l’hygiène des pieds</li>
                  </p>

                  <p>La sécurité des actes est une priorité du cabinet de votre pédicure à Sisteron  Mme Drouffe-Simon. Ainsi, tous les instruments utilisés dans les soins de pédicurie sont décontaminés avant chaque soin par un passage aux ultrasons, ensachés puis stérilisés grâce à un autoclave classe B.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="side-image">
                  <div class='container-fluid'>
                    <div id="my-carousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#my-carousel" data-slide-to="1"></li>
                        <li data-target="#my-carousel" data-slide-to="2"></li>
                        <li data-target="#my-carousel" data-slide-to="3"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <%= cl_image_tag("running-shoe-shoe-brooks-highly-functional-54334_mbqbaf", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <%= cl_image_tag("shoes-leather-single-fashion_wi93xu", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <%= cl_image_tag("pexels-photo-221207_hbuwx7", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <%= cl_image_tag("women-s-shoes-red-pin-fashion-66856_zp9l67", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                      </div>
                      <!-- Controls -->
                      <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                      </a>
                      <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="parcours first-text text-right style1">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-10">
                <div class="parcours text-center" >

                </div>

                <div class="parcours text-right">

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-2">
          <%= render "shared/sideinfos"%>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= render "shared/footer"%>
        </div>
      </div>
    </div>



  </div>

</div>

