<%= render "shared/mobile-navbar"%>

<div class="containe">

  <div class="sidebar">
    <%= render "shared/sidebar"%>
  </div>

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="semelles">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-6 ">
          <div class="general-content">
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="parcours text-left style1">
                  <h3>Les semelles orthopédiques</h3>
                  <p>Pour prévenir ou corriger les troubles de la statique et de l’équilibre, les orthèses plantaires permettent de repositionner le pied dans sa position optimale, avec toutes les conséquences positives sur les chaînes musculaires et l’harmonie du squelette. Le traitement peut également être ciblé sur le genou, la hanche ou le dos.</p>
                  <p><b>Maladies, déformations du pied et troubles de la statique</b></p>
                  <p>Le pied est le moyen de transport n°1 au monde .... C’est un organe complexe, fragile et solide à la fois, une mécanique d’horlogerie qui subit des contraintes violentes. Ainsi, la marche multiplie l’impact du poids du corps par 1,5 à 2 fois et la course multiplie cet impact par 3 à 6 fois et le saut par 7 à 13 fois !
                    Mais, chaque pied est unique avec des formes et des volumes spécifiques.
                    Pieds plats (perte de la cambrure), pieds creux (accentuation de la cambrure), déformation vers l’extérieur ou à l’intérieur du talon, hallux valgus ou oignon (déformation du gros orteil), orteils en griffe, épines du talon, sont ainsi des pathologies courantes faisant partie de la longue liste des affections du pied. On peut aussi se trouver en présence d’une “fracture de fatigue” (fissure incomplète de l’os), d’une instabilité de la cheville, de douleurs de l’avant-pied (métatarsalgies) ou d’affections bien connues des sportifs comme par exemple les tendinopathies. Les pieds sont aussi plus sensibles à l’inflammation que d’autres parties du corps. D’autres états douloureux peuvent découler d’un névrome qui est la maladie d’un nerf du pied. Toutes ces pathologies ont une influence négative sur l’appareil locomoteur.
                  Les pieds étant à la base de l’équilibre, de nombreux troubles de la statique peuvent aussi avoir pour origine une instabilité du pied ou la provoquer.</p>

                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="first-image side-image">
                  <%= cl_image_tag "pexels-photo-356053_wxols2.jpg", :border=>"2px_solid_rgb:9DB4C0", width: 250, height: 150, crop: :fill %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-8">
                <div class="text-left style1">
                  <h3>Quand faut-il consulter un podologue ?</h3>
                  <p>Si vous ressentez une douleur au niveau des pieds, des chevilles, des genoux, des hanches ou du dos, c’est peut-être parce que votre mécanisme articulaire ou musculaire fonctionne mal. Il faut alors impérativement faire surveiller vos appuis par un podologue. Celui-ci, après un examen clinique, posera un diagnostic et réalisera une analyse de la mécanique de vos pieds et du membre inférieur.
                  </p>

                  <h3>Que peut faire le podologue ?</h3>
                  <p>Celui-ci concevra et fabriquera une paire d’orthèses plantaires sur mesure, capables de rendre à vos pieds un fonctionnement harmonieux. Elles répartiront les appuis, guideront le pied en permettant aux muscles et aux tendons d’être plus efficaces.
                    Pour prévenir ou corriger les troubles de la statique et de l’équilibre, les orthèses plantaires permettent de repositionner le pied dans sa position optimale, avec toutes les conséquences positives sur les chaînes musculaires et l’harmonie du squelette. Le traitement peut également être ciblé sur le genou, la hanche ou le dos.
                  Ces orthèses peuvent être “classiques” (comme les orthèses pour affections épidermiques), thermoformées (matériaux de densité différente moulés) ou proprioceptives (agissant sur les chaînes musculaires). Les techniques de fabrication les plus modernes sont mises au service des patients pour leur livrer des orthèses fines, confortables et efficaces.</p>
                  <p>Le podologue vous donnera également des conseils précieux concernant votre mode de chaussage.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="side-image">
                  <div class='container-fluid'>
                    <div id="my-carousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#my-carousel" data-slide-to="1"></li>
                        <li data-target="#my-carousel" data-slide-to="2"></li>
                        <li data-target="#my-carousel" data-slide-to="3"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <%= cl_image_tag("running-shoe-shoe-brooks-highly-functional-54334_mbqbaf", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <%= cl_image_tag("shoes-leather-single-fashion_wi93xu", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <%= cl_image_tag("pexels-photo-221207_hbuwx7", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                        <div class="item">
                          <%= cl_image_tag("women-s-shoes-red-pin-fashion-66856_zp9l67", width: 250, height: 150, crop: :fill) %>
                          <div class="carousel-caption"></div>
                        </div>
                      </div>
                      <!-- Controls -->
                      <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                      </a>
                      <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="parcours first-text text-right style1">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-10">
                <div class="parcours text-center" >

                </div>

                <div class="parcours text-right">

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-2">
          <%= render "shared/sideinfos"%>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= render "shared/footer"%>
        </div>
      </div>
    </div>



  </div>

</div>

