<%= render "shared/mobile-navbar"%>

<div class="containe">

  <div class="sidebar">
    <%= render "shared/sidebar"%>
  </div>

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="podologie">
      <div class="general-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="first-text text-left style2">
              <h3>La podologie</h3>
              <p>Le pédicure-podologue intervient sur les manifestations des affections cutanées, statiques et dynamiques du pied, et leurs interactions avec l'appareil locomoteur, à partir d'un diagnostic qu'il a préalablement établi, dans le domaine de la pédicurie-podologie. </p>
              <p>Le pédicure-podologue prescrit, confectionne ou adapte des dispositifs médicaux podologiques externes applicables au niveau du pied. </p>
              <p>Il prescrit et applique des topiques et des pansements. Le pédicure-podologue réalise des activités en matière de prévention, de formation, d'éducation et de recherche.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="first-image side-image">
              <%= cl_image_tag("pedicurie_tvpuo7", width: 250, height: 150, crop: :fill) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="text-left style2">
              <p>Le pédicure-podologue traite les affections épidermiques et unguéales du pied (cor, durillon, verrue, ongle incarné, pied d'athlète, onychomycose, pseudochromidrose plantaire, mal perforant plantaire, papillome traumatique, onychogriphose, phlyctène... ). </p>
              <p>Il conseille le patient sur les soins d'hygiène curatifs et préventifs. Il prescrit des topiques à usage externe. Il réalise des petits appareillages pour protéger les zones douloureuses ou pour corriger certaines déformations des orteils (orthoplasties thermoformées ou en silicone) ou des ongles (orthonyxies, onychoplasties).</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="side-image">
              <%= cl_image_tag("Podiatry_vv1kft", width: 250, height: 150, crop: :fill) %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
           <div class="side-image">
            <%= cl_image_tag("podologie_yb6vbu", width: 250, height: 150, crop: :fill) %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="side-image">
            <%= cl_image_tag("cabinet_pa2aao", width: 250, height: 150, crop: :fill) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-bas">
            <a class="btn-medium" href="#semelles"> Les semelles orthopédiques </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="general-wrapper" id="semelles">
    <div class="general-content">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="first-text text-left style2">
            <h3>Les semelles orthopédiques</h3>
            <p>Le pédicure-podologue met en évidence les éventuels déséquilibres liés aux pathologies du pied et/ou de la posture à partir d'un examen clinique complet du patient. Au Canada, ce sont les podiatres et les médecins qui ont le droit de prescrire des orthèses plantaires suite à un examen biomécanique. Les orthèses sont prescrites pour traiter des douleurs engendrées par un déséquilibre biomécanique et/ou postural.
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="first-image side-image">
            <%= cl_image_tag("pedicurie_tvpuo7", width: 250, height: 150, crop: :fill) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="text-left style2">
            <p>On distingue différentes familles de semelles orthopédiques ou orthèses plantaires :
              <ul><p>biomécaniques :</p>
                <li><p>« classiques », comme les orthèses pour affections épidermiques (SAE).</p></li>
                <li><p>thermoformées à partir d'une base en résine. Des matériaux de densité différente comme l'EVA (de l'anglais : ethylene vinyl acetate), le PU (polyuréthane), le liège, la mousse sont utilisés pour le façonnage des éléments.</p></li>
                <p>« posturales » :</p>
                <li><p>d'incitation proprioceptive (éléments fermes et de faibles hauteurs), agissant sur les chaînes musculaires par l'intermédiaire des capteurs podaux (voir proprioception6).</p></li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="side-image">
            <div class='container-fluid'>
              <div id="my-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#my-carousel" data-slide-to="1"></li>
                  <li data-target="#my-carousel" data-slide-to="2"></li>
                  <li data-target="#my-carousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <%= cl_image_tag("running-shoe-shoe-brooks-highly-functional-54334_mbqbaf", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption">

                    </div>
                  </div>
                  <div class="item">
                    <%= cl_image_tag("shoes-leather-single-fashion_wi93xu", width: 250, height: 150, crop: :fill) %>

                    <div class="carousel-caption">

                    </div>
                  </div>

                  <div class="item">
                    <%= cl_image_tag("pexels-photo-221207_hbuwx7", width: 250, height: 150, crop: :fill) %>

                    <div class="carousel-caption">

                    </div>
                  </div>

                  <div class="item">
                    <%= cl_image_tag("women-s-shoes-red-pin-fashion-66856_zp9l67", width: 250, height: 150, crop: :fill) %>

                    <div class="carousel-caption">

                    </div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-bas">
            <a class="btn-medium" href="#sport">La Podologie du sport </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="general-wrapper" id="sport">
    <div class="general-content">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="first-text text-left style2">
            <h3></h3>
            <p>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="first-image side-image">
            <%= cl_image_tag("pedicurie_tvpuo7", width: 250, height: 150, crop: :fill) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="text-left style2">
            <p>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="side-image">
            <div class='container-fluid'>
              <div id="my-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#my-carousel" data-slide-to="1"></li>
                  <li data-target="#my-carousel" data-slide-to="2"></li>
                  <li data-target="#my-carousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <%= cl_image_tag("running-shoe-shoe-brooks-highly-functional-54334_mbqbaf", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <%= cl_image_tag("shoes-leather-single-fashion_wi93xu", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <%= cl_image_tag("pexels-photo-221207_hbuwx7", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <%= cl_image_tag("women-s-shoes-red-pin-fashion-66856_zp9l67", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Précédent</span>
                </a>
                <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Suivant</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-bas">
            <a class="btn-medium" href="#ortoplastie"> L'orthoplastie </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="general-wrapper" id="ortoplastie">
    <div class="general-content">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="first-text text-left style2">
            <h3></h3>
            <p>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="first-image side-image">
            <%= cl_image_tag("pedicurie_tvpuo7", width: 250, height: 150, crop: :fill) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="text-left style2">
            <p>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="side-image">
            <div class='container-fluid'>
              <div id="my-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#my-carousel" data-slide-to="1"></li>
                  <li data-target="#my-carousel" data-slide-to="2"></li>
                  <li data-target="#my-carousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <%= cl_image_tag("running-shoe-shoe-brooks-highly-functional-54334_mbqbaf", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <%= cl_image_tag("shoes-leather-single-fashion_wi93xu", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <%= cl_image_tag("pexels-photo-221207_hbuwx7", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <%= cl_image_tag("women-s-shoes-red-pin-fashion-66856_zp9l67", width: 250, height: 150, crop: :fill) %>
                    <div class="carousel-caption"></div>
                  </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Précédent</span>
                </a>
                <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Suivant</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-bas">
            <a class="btn-medium" href="../pages/rdv">Prendre rendez-vous </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
