<%= render "shared/navbar"%>

<div class="containe">

  <div class="container-flui home-background" >

    <div class="general-wrapper" id="pathologies">
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-6 ">
          <div class="row">
            <div class="general-content">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="first-text text-left style1">
                    <h3>Les principales pathologies</h3>
                    <p>Le pédicure-podologue intervient sur les manifestations des affections cutanées, statiques et dynamiques du pied, et leurs interactions avec l'appareil locomoteur, à partir d'un diagnostic qu'il a préalablement établi, dans le domaine de la pédicurie-podologie. </p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="first-image side-image">
                    <%= cl_image_tag("pedicurie_tvpuo7", width: 250, height: 150, crop: :fill) %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <div class="text-left style1">
                    <h3>L'hallux valgus</h3>
                    <p>L'oignon ou hallux valgus est une déformation de l'avant-pied qui est très souvent "familiale" et atteint surtout les femmes. Dans cette pathologie, le gros orteil est dévié vers l'extérieur et s'accompagne d'une saillie appelée "oignon". Cet oignon est particulièrement douloureux et rentre en conflit avec la chaussure. Le port de chaussures peut en effet le faire "enfler", le rendre plus sensible et plus douloureux. La prévention commence toujours par des conseils de chaussage. Le choix des chaussures est essentiel pour ne pas aggraver la situation. Un bout pointu est à éviter ou alors présent au-delà de l'avant du pied. Un talon de 3 cm au maximum est tolérable. La chaussure doit être constituée de matériaux souples pour ne pas entrer en conflit avec l'oignon et d'éventuelles griffes d'orteils.</p>
                    <p>La consultation d'un podologue s'impose. Il préconisera un traitement adapté : conseils de chaussage, orthèse plantaire ou chirurgie si nécessaire. </p>
                    <p>Le podologue peut notamment préconiser les contentions noctures, orthèses rigides moulées sur le pied et portées la nuit. Elles permettent de maintenir l'orteil en position corrigée, limitant ainsi les poussées inflammatoires. Cette orthèse de nuit associée ou non à une orthoplastie ou à une orthèse plantaire pendant la journée, présente un intérêt certain dans la correction des hallux-valgus particulièrement chez les enfants. 1/4 des hallux-valgus opérés à l'âge adulte ont débuté avant la 15ème année. L'action correctrice doit être très progressive, contrôlée régulièrement et l'orthèse doit évoluer avec la croissance de l'enfant.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="first-image side-image">
                    <%= cl_image_tag("hallux", width: 250, height: 150, crop: :fill) %>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <div class="text-left style1">
                    <h3>L'ongle</h3>
                    <p>L'aspect des ongles, leur forme, leur texture, leur dureté, leur souplesse sont autant de signes ou de signaux précieux de votre état de santé général. La surveillance régulière des ongles des pieds est impérative car ceux-ci sont menacés d'agresssions ou d'invasions en tout genre. Il y a les champignons microscopiques qui peuvent les infecter (onychomycoses), les chocs répétés qui fragilisent les ongles. La consultation d'un podologue s'impose dès lors que ces troubles apparaissent. </p>

                    <p>Attention : les coins de l'ongle coupés trops courts sont la cause principale d'ongles incarnés.</p>

                    <h4>Ongle incarné</h4>

                    <p>Pour couper vos ongles, utilisez une pince personnelle (et pas celle de toute la famille) et pour le biseau de l'ongle, si nécessaire, une lime en carton jetable de préférence aux ciseaux ou coupe-ongles. Commencez par débarrasser les sillons (fissures existant entre le bourrelet et le lit de l'ongle) des petites peaux qui les encombrent sans toutefois créer une accumulation dans les pourtours ce qui finirait par vous occasionner des mini cors douloureux. Coupez les ongles droit, au carré, sans attaquer les angles. Enfin, laissez un ou deux millimètres de marge afin de protéger la pulpe des orteils de tout frottement.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="first-image side-image">
                    <%= cl_image_tag("podologie_yb6vbu", width: 250, height: 150, crop: :fill) %>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <div class="text-left style1">
                    <h3>Les mycoses</h3>
                    <p>Une mycose est une infection due à des champignons qui prolifèrent dans la couche superficielle de la peau L'infection est provoquée par la chaleur, la transpiration et l'humidité, ce qui renforce son apparition pendant la période estivale.

                      <p>Les dermatophytes, majoritairement retrouvés dans les onychomycoses des pieds, sont des champignons filamenteux microscopiques, capables de parasiter la Kératine des êtres humains et des animaux. Ils appartiennent aux genres : Tricophyton, Microsporum, Epidermophyton.

                      Au niveau des pieds, il existe deux types d’atteinte : l'onychomycose au niveau des ongles et le pied d'athlète au niveau de la peau.</p>


                      <p>La transmission de ces mycoses à l’homme dépend de l’agent pathogène. La contamination peut être d’origine animale, humaine ou tellurique. Mais la contagion la plus fréquente est due aux lieux collectifs, où règnent chaleur et humidité, et où l’on marche pieds nus. Exemples : piscine, sauna, vestiaires et douches des salles de sport, hôtels…

                      La transmission peut être également intra-familiale, par le biais des moquettes, tapis de salles de bain, serviettes et gants de toilettes.</p>

                      <p>Les mycoses aiment la chaleur, l’humidité et l’obscurité. Les facteurs favorisants sont :

                        <li>L'hyper sudation physiologique : il est donc important de talquer régulièrement les pieds et d’utiliser des traitements anti-transpirantion.</li>

                        <li>La pratique sportive entraînant une sudation liée à l’exercice physique, le port de chaussures occlusives en plastique ou en tissu synthétique et la contamination sur les sols humides : vestiaires, douches…</li></p>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <div class="first-image side-image">
                        <%= cl_image_tag("mycoses", width: 250, height: 150, crop: :fill) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="btn-bas">
                <a class="btn-medium" href="../pages/rdv"> Prendre rendez vous
                </a>
              </div>
            </div>

          </div>
          <%= render "shared/sideinfos"%>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <%= render "shared/footer"%>
        </div>
      </div>
    </div>
  </div>
</div>
